@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto Flex", sans-serif;
}

button,
input,
textarea,
select {
    outline: none;
}

body.hiddenScroll {
    overflow: hidden;
}

:root {
    --primary: #06B6F2;
    --white: #FFFFFF;
    --light-bg: #FAFAFA;
    --gray-bg: #F2F2F2;
    --overlay-dark: #0000008c;
    --black: #1c1c1c;
    --black-40: #00000066;
    --black-85: #000000d9;
    --gray-border: #D9D9D9;
    --accent-pink: #FF4A80;
}


/* ///////////////////////////// */

            /* header */

/* ///////////////////////////// */
.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 64px;
    background-color: var(--white);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* logo */
.logo img {
    width: 120px;
    object-fit: cover;
    cursor: pointer;
}


/* search */
.search-nav {
    width: 450px;
    height: 40px;
    position: relative;
}

.search-form {
    width: 100%;
    height: 100%;
    background-color: var(--gray-bg);
    border-radius: .2rem;
    position: relative;
}

.search-form i {
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--black-40);
}

.search-form input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0 1rem 0 2rem;
    font-size: .9rem;
    font-weight: 500;
    color: var(--black-40);
}

.search-form input::placeholder {
    opacity: .5;
}

.search-list {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-height: 416px;
    background-color: var(--white);
    border: 1px solid var(--gray-border);
    border-radius: .2rem;
    padding: .5rem 0;
}

.search-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease;
}

.search-item i {
    font-size: 1rem;
    color: var(--black-40);
    margin: 0 1rem;
}

.search-item h5 {
    font-size: .9rem;
    font-weight: 500;
    color: var(--black-40);
}

.search-note {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: .9rem;
    font-weight: 300;
    color: var(--black-40);
    opacity: .8;
}

.search-item:hover {
    background-color: var(--gray-bg);
}


/* actions */
.header-actions {
    display: flex;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 1rem;
    margin-left: .5rem;
    cursor: pointer;
    position: relative;
}

.btn-icon {
    font-size: 1.2rem;
    color: var(--black-85);
}

.btn-header {
    border-radius: 3rem;
    border: none;
    background-color: var(--black);
    font-size: .9rem;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
}

.actions-wrap {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-height: 416px;
    background-color: var(--white);
    border: 1px solid var(--gray-border);
    border-radius: .2rem;
    padding: .8rem 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.actions-wrap::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: transparent;
}

.btn:nth-child(1) .actions-wrap { 
    width: 250px; 
}

.btn:nth-child(2) .actions-wrap,
.btn:nth-child(3) .actions-wrap { 
    width: 350px; 
}

.btn:nth-child(4) .actions-wrap {
    width: 350px; 
    left: -150%;
}

.btn:nth-child(5) .actions-wrap,
.btn:nth-child(6) .actions-wrap {
    width: 350px;
    transform: translateX(0);
}

.btn:nth-child(5) .actions-wrap {
    left: -300px;
}

.btn-header .actions-wrap {
    left: -248px;
}

.btn-user .actions-wrap {
    left: -310px;
    padding: 0;
}

.actions-on {
    padding: 0;
}

.actions-not {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions-not h5 {
    font-size: .9rem;
    font-weight: 300;
    color: var(--black-85);
}

.btn-notlink {
    padding: 0 2.5rem;
    background-color: var(--primary);
    border-radius: 3rem;
    font-size: .9rem;
    font-weight: 500;
    color: var(--white);
    margin-top: 1rem;
}

.btn-header .actions-not {
    height: auto;
    padding: 0 1rem;
    align-items: flex-start;
}

.btn-header .actions-not h4 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-85);
}

.btn-header .actions-not h5 {
    margin-top: .8rem;
    display: flex;
    align-items: flex-start;
}

.btn-header .actions-not h5 i {
    font-size: 1rem;
    margin-right: .5rem;
}

.btn-header .btn-notlink {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover .actions-wrap {
    opacity: 1;
    visibility: visible;
}

.btn-user {
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray-border);
}

.btn-user img {
    width: 40px;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-head {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--gray-border);
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.user-head img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--gray-border);
}

.user-head nav {
    padding-left: .8rem;
    display: flex;
    flex-direction: column;
}

.user-head nav h3 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--black-85);
    margin-bottom: .4rem;
}

.user-head nav p {
    font-size: .9rem;
    font-weight: 400;
    color: var(--black-40);
}

.user-list {
    width: 100%;
    height: auto;
    padding: .5rem 0;
}

.user-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 1rem;
}

.user-item i {
    font-size: 1.2rem;
    color: var(--black-85);
    margin-right: 1rem;
}

.user-item span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-85);
}

.user-item:hover {
    background-color: var(--gray-bg);
}

.user-footer {
    width: 100%;
    height: auto;
    border-top: 1px solid var(--gray-border);
    padding: .5rem 0;
}

/* thông báo */
.actions-head {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--gray-border);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-85);
}

.notions-list {
    width: 100%;
    max-height: calc(410px - 50px);
    padding-right: .1rem;
    overflow-y: scroll;
}

.notions-list::-webkit-scrollbar {
    width: 5px;
}

.notions-list::-webkit-scrollbar-thumb {
    background-color: var(--gray-border);
}

.notions-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .6rem .4rem;
    margin-top: .5rem;
    transition: all .3s ease;
}

.notions-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: .5rem;
}

.notions-wrap {
    width: 100%;
    height: auto;
    padding-top: .5rem;
    display: grid;
    grid-template-columns: 45px calc(100% - 45px);
}

.notions-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--gray-bg);
}

.notions-wrap nav {
    padding-left: .5rem;
}

.notions-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-85);
    line-height: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notions-title:hover {
    color: var(--primary);
}

.notions-wrap nav p {
    margin-top: .4rem;
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-40);
}

.notions-item:hover {
    background-color: var(--gray-bg);
}

.notions-note {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}

.notions-note img {
    width: 25%;
    filter: grayscale(100%) brightness(0.9) contrast(1.1);
}

.notions-note p {
    margin-top: .5rem;
    font-size: .9rem;
    font-weight: 300;
    color: var(--black-40);
}


/* upload index */
.upload-list {
    width: 100%;
    height: auto;
}

.upload-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    cursor: pointer;
    transition: all .3s ease;
}

.upload-item i {
    padding: 0 1rem;
    font-size: 1.2rem;
    color: var(--black-85);
}

.upload-item span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-85);
}

.upload-item:hover {
    background-color: var(--gray-bg);
}




/* ///////////////////////////// */

            /* sidebar */

/* ///////////////////////////// */
.sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 100;
    width: 100px;
    height: calc(100vh - 64px);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: .2rem;
}

.sidebar-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border-radius: .5rem;
    margin-bottom: .2rem;
    transition: all .3s ease;
}

.sidebar-item i {
    font-size: 1.5rem;
    color: var(--black-85);
}

.sidebar-item span {
    font-size: .7rem;
    font-weight: 600;
    color: var(--black-85);
    margin-top: .4rem;
}

.sidebar-item.active {
    background-color: #06b7f218;
}

.sidebar-item:hover {
    background-color: var(--gray-bg);
}

.sidebar-item.active:hover {
    background-color: #06b7f218;
}





/* ///////////////////////////// */

            /* main */

/* ///////////////////////////// */
.main {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--light-bg);
    padding: 64px 2rem 0 calc(100px + 2rem);
}

.main-head {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black-85);
}

.product-list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.product-item {
    width: 100%;
    height: auto;
    position: relative;
}

.product-top {
    display: inline-block;
    width: 100%;
    height: 160px;
}

.product-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: .5rem;
}

.product-video {
    width: 100%;
    height: 160px;
    display: none;
}

.product-wrap {
    width: 100%;
    padding: .5rem 0;
    display: grid;
    grid-template-columns: 40px calc(100% - 70px) 30px;
}

.product-avatar {
    width: 40px;
    height: 40px;
    border: 1px solid var(--gray-border);
    border-radius: 50%;
    object-fit: cover;
}

.product-wrap nav {
    height: auto;
    padding: 0 .5rem;
}

.product-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-85);
    line-height: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-title:hover {
    color: var(--primary);
}

.product-wrap nav p {
    margin-top: .4rem;
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-40);
}

.btn-product {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--black-40);
    cursor: pointer;
    transition: all .3s ease;
}

.btn-product:hover {
    background-color: var(--gray-border);
    color: var(--black-85);
}

.product-tools {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
    width: 225px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: .2rem;
    border: 1px solid var(--gray-border);
    padding: .4rem 0;
    opacity: 0;
    visibility: hidden;
}

.product-tools.active {
    opacity: 1;
    visibility: visible;
}

.product-txt {
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: all .3s ease;
}

.product-txt i {
    font-size: 1.2rem;
    color: var(--black-85);
    margin: 0 .6rem;
}

.product-txt span {
    font-size: .9rem;
    font-weight: 500;
    color: var(--black-85);
}

.product-txt:hover {
    background-color: var(--gray-bg);
}






/* ///////////////////////////// */

            /* modal */

/* ///////////////////////////// */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

#modalPlaylist.active {
    opacity: 1;
    visibility: visible;
}

#modalPlaylist .playlist-nav {
    width: auto;
    height: auto;
    background-color: var(--white);
    border-radius: .2rem;
}

.playlist-list {
    width: 300px;
    height: auto;
}

.playlist-head {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-border);
    padding: 0 1rem;
}

.playlist-head h4 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-85);
}

.playlist-head i {
    font-size: 1.2rem;
    color: var(--black-85);
    cursor: pointer;
}

.playlist-wrap {
    width: 100%;
    max-height: 350px;
    overflow-y: scroll;
}

.playlist-wrap::-webkit-scrollbar {
    width: 5px;
}

.playlist-wrap::-webkit-scrollbar-thumb {
    background-color: var(--gray-border);
}

.playlist-item {
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    transition: all .3s ease;
}

.playlist-item:hover {
    background-color: var(--gray-bg);
}

.playlist-item input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.playlist-check {
    width: 20px;
    height: 20px;
    border: 2px solid var(--black-85);
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.playlist-check.active {
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
}

.playlist-name {
    font-size: .9rem;
    font-weight: 600;
    color: var(--black-85);
}

.playlist-footer {
    width: 100%;
    height: 60px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--gray-border);
}

.playlist-btn {
    width: calc((100% / 2) - 4px);
    height: 40px;
    border-radius: 3rem;
    border: none;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.playlist-btn i {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.playlist-btn span {
    font-size: .9rem;
    font-weight: 500;
}

.add-playlist-btn {
    background-color: var(--gray-bg);
    color: var(--black-40);
    opacity: .7;
    cursor: no-drop;
}

.add-playlist-btn.active {
    background-color: var(--black);
    color: var(--white);
    opacity: 1;
    cursor: pointer;
}

.playlist-form {
    width: 300px;
    height: auto;
    display: none;
}

.playlist-group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem .5rem 1rem;
}

.playlist-group label {
    font-size: .8rem;
    font-weight: 500;
    color: var(--black-85);
}

.playlist-group input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--gray-border);
    border-radius: .2rem;
    padding: 0 .5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-85);
    margin-top: .2rem;
}

.playlist-group textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 60px;
    max-height: 200px;
    border: 1px solid var(--gray-border);
    border-radius: .2rem;
    padding: .5rem;
    margin-top: .2rem;
    font-size: .9rem;
    font-weight: 400;
    color: var(--black-85);
}

.playlist-group input::placeholder,
.playlist-group textarea::placeholder {
    font-size: .9rem;
    font-weight: 300;
    opacity: .6;
}

.playlist-group input:focus,
.playlist-group textarea:focus {
    border: 1px solid var(--primary);
}

.create-playlist-submit {
    background-color: var(--gray-bg);
    color: var(--black-40);
    opacity: .7;
    cursor: no-drop;
}

.create-playlist-submit.active {
    background-color: var(--black);
    color: var(--white);
    opacity: 1;
    cursor: pointer;
}




/* ///////////////////////////// */

            /* share */

/* ///////////////////////////// */
#modalShare.active {
    opacity: 1;
    visibility: visible;
}

#modalShare .share-nav {
    width: 500px;
    height: auto;
    background-color: var(--white);
    border-radius: .2rem;
}

.share-list {
    width: 100%;
    height: auto;
    padding: 0 .5rem;
}

.share-item {
    width: 100%;
    height: auto;
    margin: .5rem 0;
    background-color: var(--gray-bg);
    border-radius: .2rem;
    padding: 0 .5rem .5rem .5rem;
}

.share-header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share-header h5 {
    font-size: .8rem;
    font-weight: 500;
    color: var(--black-85);
}

.share-copy {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: .8rem;
    font-weight: 500;
    color: var(--black-85);
    cursor: pointer;
}

.share-copy i {
    margin-right: .2rem;
}

.share-wrap {
    width: 100%;
    margin-top: .2rem;
}

.share-wrap textarea {
    width: 100%;
    min-height: 40px;
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-85);
    line-height: 1.2rem;
    padding: .5rem;
    border: 1px solid var(--gray-border);
    resize: none;
    overflow: hidden;
}




/* ///////////////////////////// */

            /* report */

/* ///////////////////////////// */
#modalReport.active {
    opacity: 1;
    visibility: visible;
}

#modalReport .report-nav {
    width: 500px;
    height: auto;
    background-color: var(--white);
    border-radius: .2rem;
}

.report-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

.report-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
}

.report-item:hover {
    background-color: var(--gray-bg);
}

.report-item input[type="radio"] {
    height: 20px;
    width: 20px;
    margin: 0 1rem;
    cursor: pointer;
}

.report-item h4 {
    font-size: .9rem;
    font-weight: 500;
    color: var(--black-85);
}

.report-footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--gray-border);
    padding: 0 1rem;
}

.report-btn {
    height: 40px;
    padding: 0 1.5rem;
    border: none;
    background-color: var(--black);
    border-radius: 3rem;
    margin-right: .5rem;
    font-size: .9rem;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
}

#submitBtnReport {
    background-color: var(--gray-bg);
    color: var(--black-40);
    opacity: .7;
    cursor: no-drop;
}

#submitBtnReport.active {
    background-color: var(--black);
    color: var(--white);
    opacity: 1;
    cursor: pointer;
}







/* ///////////////////////////// */

            /* play video */

/* ///////////////////////////// */
.main-nav {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--light-bg);
    padding: 64px 0 0 100px;
}

.play-nav {
    width: 100%;
    height: calc(100vh - 64px);
    background-color: var(--black);
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.play-video {
    width: auto;
    height: 100%;
}

.play-screem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 85px);
    background-color: transparent;
    cursor: pointer;
}

.play-screem i {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    color: var(--gray-bg);
    padding: 1rem;
    border: 8px solid var(--gray-bg);
    border-radius: 50%;
}

.play-screem.active i {
    color: transparent;
    border: 10px solid transparent;
}

.play-actions {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    padding: 0 2% 1rem 2%;
    color: var(--white);
    background: linear-gradient(transparent, #000);
    transition: all .5s ease;
}

.play-nav:hover .play-actions {
    bottom: 0;
}

.play-topbar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.play-bar {
    width: 100%;
    height: 4px;
    background-color: rgba(255, 225, 225, .2);
    position: relative;
    cursor: pointer;
}

.play-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--primary);
}

.play-toggle::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -7.5px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary);
}

.play-bar__number {
    position: absolute;
    right: -20px;
    top: -30px;
    font-size: .9rem;
    font-weight: 500;
    color: var(--white);
}

.play-below {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-below nav,
.play-time {
    display: flex;
    align-items: center;
}

.play-below nav .ti-player-play-filled,
.play-below nav .ti-player-pause-filled,
.play-below nav .ti-repeat {
    margin-right: 2rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: var(--white);
    cursor: pointer;
}

.play-volume {
    border: none;
    background-color: transparent;
    position: relative;
    margin-right: 2rem;
    cursor: pointer;
}

.play-volume i {
    font-size: 1.2rem;
    color: var(--white);
}

.play-volume__wrap {
    position: absolute;
    bottom: calc(100% + 35px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 225, 225, .2);
    width: 50px;
    height: auto;
    padding: 1rem 0;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.play-volume__wrap::before {
    content: '';
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: transparent;
}

.play-volume:hover .play-volume__wrap {
    opacity: 1;
    visibility: visible;
}

.play-volume__number {
    margin-bottom: .5rem;
    font-size: .9rem;
    font-weight: 500;
    color: var(--white);
}

.play-volume__bar {
    width: 4px;
    height: 120px;
    background-color: var(--white);
    position: relative;
}

.play-volume__toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--primary);
    cursor: pointer;
}

.play-volume__toggle::before {
    content: '';
    position: absolute;
    top: -7.5px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary);
}

.play-time {
    font-size: .9rem;
    font-weight: 500;
    color: var(--white);
}

.play-time span {
    margin: 0 .2rem;
}

.play-speed {
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
}

.play-speed__data {
    font-size: .9rem;
    font-weight: 500;
    color: var(--white);
}

.play-speed__list {
    position: absolute;
    bottom: calc(100% + 35px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 225, 225, .2);
    width: 60px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .2rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.play-speed__list::before {
    content: '';
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
}

.play-speed:hover .play-speed__list {
    opacity: 1;
    visibility: visible;
}

.play-speed__item {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    transition: all .3s ease;
}

.play-speed__item:first-child {
    border-radius: .2rem .2rem 0 0;
}

.play-speed__item:last-child {
    border-radius: 0 0 .2rem .2rem;
}

.play-speed__item:hover {
    background-color: rgba(255, 225, 225, .2);
}

.play-speed__item.active {
    color: var(--primary);
}

.play-below nav .ti-arrows-maximize {
    font-size: 1.2rem;
    color: var(--white);
    cursor: pointer;
}




/* ///////////////////////////// */

            /* container */

/* ///////////////////////////// */
.container {
    width: 100%;
    height: auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}


/* contai left */
.contai-left {
    width: 65%;
    height: auto;
    padding-bottom: 2.5rem;
}

.contai-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black-85);
    margin: .6rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contai-top {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contai-raption,
.contai-action,
.raption-user {
    display: flex;
    align-items: center;
}

.raption-user a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--gray-bg);
}

.raption-user nav {
    margin: 0 2rem 0 .5rem;
}

.raption-user nav a {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--black-85);
}

.raption-user nav p {
    margin-top: .2rem;
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-40);
}

.btn-monitor,
.btn-like,
.btn-contai {
    height: 35px;
    padding: 0 1rem;
    border-radius: 3rem;
    border: none;
    background-color: var(--black);
    font-size: .9rem;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
}

.btn-contai {
    margin: 0 .5rem;
}

.btn-tools {
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    background-color: var(--gray-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--black-40);
    cursor: pointer;
    transition: all .3s ease;
}

.btn-tools:hover {
    background-color: var(--gray-border);
    color: var(--black-85);
}

.btn-monitor__fill,
.btn-like__fill {
    background-color: var(--primary);
}

.contai-des {
    width: 100%;
    height: auto;
    border-radius: .2rem;
    background-color: var(--gray-bg);
    padding: .5rem;
    margin-top: 1rem;
}

.contai-des__head {
    font-size: .9rem;
    font-weight: 600;
    color: var(--black-85);
}

.contai-des__wrap {
    width: 100%;
    height: auto;
    margin: .5rem 0;
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-85);
    line-height: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contai-des__wrap.active {
    -webkit-line-clamp: inherit;
    line-clamp: inherit;
}

.contai-des__btn {
    background-color: transparent;
    border: none;
    font-size: .8rem;
    font-weight: 700;
    color: var(--black-85);
    cursor: pointer;
}

.contai-comment {
    width: 100%;
    height: auto;
    padding-top: 1rem;
}

.comment-head {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-head h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black-85);
}

.comment-head select {
    height: 30px;
    padding: 0 1rem;
    border-radius: .2rem;
    border: none;
    background-color: var(--gray-bg);
    font-size: .9rem;
    font-weight: 500;
    color: var(--black-85);
    cursor: pointer;
}

.comment-form {
    padding-top: 1rem;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);
}

.comment-form img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--gray-border);
}

.comment-form nav {
    width: 100%;
    height: auto;
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.comment-form nav textarea {
    width: 100%;
    height: 50px;
    resize: none;
    padding: .5rem;
    background-color: var(--gray-bg);
    border: 1px solid transparent;
    border-radius: .2rem;
}

.comment-form nav textarea:focus {
    border: 1px solid var(--primary);
}

.comment-submit {
    margin-top: .5rem;
    height: 35px;
    padding: 0 1rem;
    border-radius: 3rem;
    border: none;
    background-color: var(--gray-bg);
    color: var(--black-40);
    font-size: .9rem;
    font-weight: 500;
    cursor: no-drop;
}

.comment-submit.active {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.comment-list {
    width: 100%;
    height: auto;
    padding-top: .5rem;
}

.comment-item {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);
    margin-top: 1.5rem;
}

.comment-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--gray-border);
}

.comment-wrap {
    padding-left: .5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.comment-wrap h4 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-85);
}

.comment-wrap h4 span {
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-40);
}

.comment-content {
    width: 100%;
    height: auto;
    font-size: .9rem;
    font-weight: 400;
    color: var(--black-85);
    line-height: 1.2rem;
    padding: .5rem 0;
}

.comment-wrap form {
    display: flex;
    align-items: center;
}

.comment-btn {
    margin-right: 1rem;
    border: none;
    background-color: transparent;
    padding: .4rem 0;
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-85);
    cursor: pointer;
}

.comment-btn:hover {
    color: var(--primary);
}

.comment-btn.active {
    color: var(--primary);
}

.comment-note {
    width: 100%;
    height: auto;
    padding-top: 5rem;
    text-align: center;
    font-size: .9rem;
    font-weight: 400;
    color: var(--black-40);
}




/* contai right */
.contai-right {
    width: calc(100% - (65% + 2rem));
    height: auto;
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-85);
}

.contai-right__head {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--black-85);
}

.contai-list {
    width: 100%;
    height: auto;
}

.contai-item {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: .5rem;
}

.contai-item a img {
    width: 100%;
    height: 86px;
    object-fit: cover;
    border-radius: .4rem;
}

.contai-item nav {
    padding-left: .5rem;
}

.contai-item__title {
    font-size: .9rem;
    font-weight: 600;
    color: var(--black-85);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contai-item__channel {
    display: inline-block;
    font-size: .8rem;
    font-weight: 500;
    color: var(--black-85);
    margin: .4rem 0;
}

.contai-item nav p {
    font-size: .7rem;
    font-weight: 400;
    color: var(--black-85);
}

.contai-item:hover .contai-item__title {
    color: var(--primary);
}




/* ///////////////////////////// */

            /* post */

/* ///////////////////////////// */
.post-nav {
    width: 100%;
    height: auto;
    padding-bottom: 2.5rem;
}

.postp-banner {
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    object-fit: cover;
}

.post-main {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem 0;
}

.post-avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.post-wrap {
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
}

.post-wrap h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--black-85);
}

.post-wrap p {
    font-size: .9rem;
    font-weight: 500;
    color: var(--black-85);
    margin: .6rem 0;
}

.post-wrap p span {
    font-weight: 700;
}

.post-des {
    width: 100%;
    display: flex;
}

.post-des h4 {
    width: auto;
    max-width: 52%;
    font-size: .9rem;
    font-weight: 400;
    color: var(--black-85);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-more {
    margin-left: .5rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--black-85);
    cursor: pointer;
}

.post-more:hover {
    color: var(--primary);
}

.post-wrap form {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

.post-btn {
    padding: 0 1rem;
    height: 40px;
    font-size: .9rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--black);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}

.post-btn.active {
    background-color: var(--primary);
}

.post-link {
    display: inline-block;
    padding: 0 1rem;
    height: 40px;
    line-height: 40px;
    font-size: .9rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--black);
    border: none;
    border-radius: 3rem;
    margin-right: .5rem;
    cursor: pointer;
}

.post-head {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--gray-border);
    background-color: var(--light-bg);
    position: sticky;
    top: 64px;
    z-index: 100;
}

.post-tab {
    padding: 0 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 600;
    color: var(--black-85);
    border-bottom: 2px solid transparent;
    margin-right: .5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.post-tab:hover {
    border-bottom: 2px solid var(--primary);
}

.post-tab.active {
    border-bottom: 2px solid var(--primary);
}

.post-wrapper {
    width: 100%;
    height: auto;
    display: none;
}

.post-wrapper.active {
    display: block;
}

.post-nav .product-wrap {
    grid-template-columns: calc(100% - 30px) 30px;
}

.post-note {
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-40);
}

/* danh sách phát */
.data-list {
    padding-top: 1rem;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.data-item {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.data-img {
    width: 100%;
    height: 160px;
    margin-bottom: .5rem;
    position: relative;
}

.data-img::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    width: 92%;
    height: 8px;
    background-color: #89aadf;
    border-radius: 1rem 1rem 0 0;
}

.data-img::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 84%;
    height: 10px;
    background-color: #687995;
    border-radius: 1rem 1rem 0 0;
}

.data-img img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: .5rem;
}

.data-img__show {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.data-img__show i {
    margin-right: .6rem;
    font-size: 1.4rem;
}

.data-item:hover .data-img__show {
    opacity: 1;
    visibility: visible;
}

.data-number {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 20;
    display: flex;
    align-items: center;
    font-size: .7rem;
    font-weight: 500;
    color: white;
    padding: .2rem .4rem;
    background-color: rgba(0, 0, 0, 1);
    border-radius: .2rem;
}

.data-number span {
    margin: 0 .2rem;
}

.data-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% - 35px) 35px;
}

.data-wrap nav {
    display: flex;
    flex-direction: column;
}

.data-name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-85);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-link {
    margin-top: .5rem;
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-85);
}

.data-link:hover {
    color: var(--primary);
}

.data-btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--black-40);
    cursor: pointer;
    transition: all .3s ease;
}

.data-btn:hover {
    background-color: var(--gray-border);
    color: var(--black-85);
}

.data-tools {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
    width: 225px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: .2rem;
    border: 1px solid var(--gray-border);
    padding: .4rem 0;
    opacity: 0;
    visibility: hidden;
}

.data-tools.active {
    opacity: 1;
    visibility: visible;
}



/* ///////////////////////////// */

            /* des */

/* ///////////////////////////// */
#modalDes.active {
    opacity: 1;
    visibility: visible;
}

.des-nav {
    width: 400px;
    height: auto;
    background-color: var(--white);
    border-radius: .2rem;
}

.des-wrap {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    padding: 0 1rem 1rem 1rem;
}

.des-wrap::-webkit-scrollbar {
    width: 5px;
}

.des-wrap::-webkit-scrollbar-thumb {
    background-color: var(--gray-border);
}

.des-group {
    width: 100%;
    height: auto;
}

.des-group #desContent {
    font-size: .9rem;
    font-weight: 400;
    color: var(--black-85);
    line-height: 1.2rem;
}

.des-group label {
    display: inline-block;
    margin: 1rem 0 .5rem 0;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-85);
}

.des-box {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 500;
    color: var(--black-85);
}

.des-box i {
    margin-right: .5rem;
}





/* ///////////////////////////// */

            /* pagination */

/* ///////////////////////////// */
.pagination {
    width: 100%;
    height: auto;
    padding-top: 2.5rem;
}

.pagination-wrap {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pagination-display {
    position: relative;
    margin-right: 1.5rem;
}

.pagination-display h4 {
    font-size: .9rem;
    font-weight: 400;
    color: var(--black-85);
    cursor: pointer;
}

.pagination-display h4 span {
    margin-left: .2rem;
    font-weight: 700;
}

.pagination-select {
    position: absolute;
    bottom: calc(100% + 5px);
    right: -8px;
    background-color: var(--white);
    border: 1px solid var(--gray-border);
    border-radius: .2rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.pagination-select::before {
    content: '';
    position: absolute;
    bottom: -25px;
    right: 0;
    width: 200px;
    height: 24px;
    background-color: transparent;
}

.pagination-option {
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: 600;
    color: var(--black-85);
    cursor: pointer;
    transition: all .3s ease;
}

.pagination-option:first-child {
    border-radius: .2rem .2rem 0 0;
}

.pagination-option:last-child {
    border-radius: 0 0 .2rem .2rem;
}

.pagination-option:hover {
    background-color: var(--gray-bg);
}

.pagination-option.active {
    background-color: var(--primary);
    color: var(--white);
}

.pagination-display:hover .pagination-select {
    opacity: 1;
    visibility: visible;
}


.pagination-list {
    display: flex;
    align-items: center;
}

.pagination-item {
    width: 40px;
    height: 40px;
    background-color: var(--gray-bg);
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .2rem;
    font-size: .9rem;
    font-weight: 500;
    color: var(--black-85);
    cursor: pointer;
    transition: all .3s ease;
}

.pagination-item:hover {
    background-color: var(--primary);
    color: var(--white);
}

.pagination-item.active {
    background-color: var(--primary);
    color: var(--white);
}

.intermediate {
    background-color: transparent;
}

.intermediate:hover {
    background-color: transparent;
    color: var(--black-85);
}

.pagination-item i {
    font-size: 1.2rem;
}

#paginationHeader,
#paginationFooter {
    width: 100px;
}





/* ///////////////////////////// */

            /* editing */

/* ///////////////////////////// */
.editing-head {
    position: sticky;
    top: 64px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-border);
    background-color: var(--light-bg);
}

.editing-head h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black-85);
}

.editing-head nav {
    display: flex;
    align-items: center;
}

.editing-btn {
    height: 35px;
    padding: 0 1rem;
    background-color: var(--gray-bg);
    border: none;
    border-radius: 3rem;
    font-size: .8rem;
    font-weight: 600;
    color: var(--black-40);
    margin-left: .5rem;
    cursor: no-drop;
}

.editing-btn.active {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.editing-group {
    width: 65%;
    height: auto;
    padding: 1.5rem 0 1rem 0;
}

.editing-group h5 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-85);
    margin-bottom: .4rem;
}

.editing-group p {
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-85);
    line-height: 1.2rem;
}

.editing-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 290px calc(100% - 290px);
    padding-top: 1rem;
}

.editing-img {
    width: 100%;
    height: 160px;
    background-color: var(--gray-border);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editing-img #imgBanner {
    max-width: 90%;
    max-height: 70%;
    object-fit: cover;
}

.editing-img #imgAvatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.editing-box {
    width: 100%;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
}

.editing-file {
    position: relative;
    margin-top: .8rem;
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: 3rem;
    font-size: .8rem;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
}

.editing-file input {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.editing-value {
    margin-top: 1rem;
    height: 50px;
    width: 100%;
    border: 1px solid var(--gray-border);
    background-color: var(--gray-bg);
    border-radius: .2rem;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-85);
    margin-bottom: .4rem;
}

.editing-textarea {
    height: 250px;
    width: 100%;
    border: 1px solid var(--gray-border);
    background-color: var(--gray-bg);
    border-radius: .2rem;
    padding: 1rem;
    font-size: .9rem;
    font-weight: 400;
    color: var(--black-85);
    resize: none;
}

.editing-value:focus,
.editing-textarea:focus {
    border: 1px solid var(--primary);
}





/* ///////////////////////////// */

            /* broadcast */

/* ///////////////////////////// */
.broadcast-nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.broadcast-card {
    position: sticky;
    top: 64px;
    width: 38%;
    height: calc(100vh - 64px);
}

.broadcast-wrap {
    width: 100%;
    height: calc(100% - 3rem);
    background: linear-gradient(var(--gray-border), transparent);
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
}

.broadcast-banner {
    width: 100%;
    height: 228px;
    border-radius: 1rem;
    position: relative;
}

.broadcast-banner img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.broadcast-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.broadcast-shadow i {
    font-size: 1.6rem;
    margin-right: .5rem;
}

.broadcast-banner:hover .broadcast-shadow {
    opacity: 1;
    visibility: visible;
}

.broadcast-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--black-85);
    margin: 1rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.broadcast-wrap nav a {
    display: flex;
    align-items: center;
}

.broadcast-wrap nav a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--gray-border);
}

.broadcast-wrap nav a h4 {
    margin-left: .5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-85);
}

.broadcast-wrap p {
    margin: .5rem 0 1rem 0;
    font-size: .9rem;
    font-weight: 400;
    color: var(--black-85);
}

.broadcast-des {
    font-size: .9rem;
    font-weight: 400;
    color: var(--black-85);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.broadcast-box {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.broadcast-link {
    height: 45px;
    width: 225px;
    background-color: var(--black);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: 500;
    color: var(--white);
}

.broadcast-link i {
    margin-right: .5rem;
    font-size: 1.4rem;
}

.broadcast-btn {
    height: 45px;
    width: 45px;
    background-color: var(--gray-border);
    border-radius: 3rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--black-85);
    cursor: pointer;
    transition: all .3s ease;
}

.broadcast-btn:hover {
    background-color: var(--black);
    color: var(--white);
}


.broadcast-wrapper {
    width: 62%;
    height: auto;
    padding-left: .5rem;
}

.broadcast-head {
    position: sticky;
    top: 64px;
    z-index: 50;
    padding-left: 40px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black-85);
    background-color: var(--light-bg);
}

.broadcast-list {
    width: 100%;
}

.broadcast-item {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 40px 200px calc(100% - 280px) 40px;
    background-color: transparent;
    padding: .5rem 0;
    border-radius: 1rem;
    margin-bottom: .5rem;
    position: relative;
    transition: all .3s ease;
}

.broadcast-item:hover {
    background-color: var(--gray-bg);
}

.broadcast-stt {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    color: var(--black-85);
}

.broadcast-img {
    width: 100%;
    height: 116px;
}

.broadcast-img img {
    width: 100%;
    height: 116px;
    object-fit: cover;
    border-radius: .5rem;
}

.broadcast-main {
    padding-left: .5rem;
}

.broadcast-name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-85);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.broadcast-main p {
    margin-top: .4rem;
    font-size: .8rem;
    font-weight: 400;
    color: var(--black-40);
}

.broadcast-main p a {
    font-weight: 600;
    color: var(--black-40);
}

.broadcast-main p a:hover,
.broadcast-name:hover {
    color: var(--primary);
}

.btn-broadcast {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--black-40);
    cursor: pointer;
    transition: all .3s ease;
}

.btn-broadcast:hover {
    background-color: var(--gray-border);
    color: var(--black-85);
}

.broadcast-tools {
    position: absolute;
    top: 0;
    left: 63%;
    z-index: 150;
    width: 225px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: .2rem;
    border: 1px solid var(--gray-border);
    padding: .4rem 0;
    opacity: 0;
    visibility: hidden;
}

.broadcast-tools.active {
    opacity: 1;
    visibility: visible;
}